div.customer-cards-container {
    display: inline-block;
    margin: 10px 10px 0 10px;
}

div.customer-card {
    float: left;
    width: 220px;
    padding: 7px 5px;
    margin: 0 10px 10px 0;
    border: black solid 1px;
    border-radius: 5px;
    background: #EEEEEE;
}

div.customer-card > div {
    float: right;
}

span.field {
    font-weight: bold;
}

button.btn-new {
    background-color: #9999FF;
    border-color: #6666FF;
    margin-left: 10px;
}

button.btn-delete {
    background-color: #EEAAAA;
    border-color: #AA6666;
    margin-bottom: 0;
    margin-right: 0;
}

button.btn-select {
    background-color: #AAEEAA;
    border-color: #66AA66;
    margin-bottom: 0;
    margin-right: 0;
}