div.form-container {
    width: 600px;
    background-color: #BBBBDD;
    border: 1px solid #8888DD;
    border-radius: 7px;
    padding: 10px 10px 0 10px;
    margin: 5px 10px 0 10px;
}

div.form-container > div::after {
    content: "";
    clear: both;
    display: table;
}

button.btn-save {
    background-color: #AAEEAA;
    border-color: #66AA66;
    float: right;
    width: 80px;
    margin-right: 0;
}

div.form-field {
    margin-bottom: 10px;
}

.form-field > label {
    font-weight: bolder;
}

.form-field > input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #777777;
}